{% extends 'layout.html' %}

{% block content %}
    {% if 'name' in session %}
    <div class="container">
        <br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{session.name}}</h5>
                  <p class="card-text">{{session.email}}</p>
                </div>
            </div>
                <br>
            <div class="card">
                <form method="post" action="/profile">
                    <h3>Change password</h3> <br>
                    <label for="currentpass" class="form-label">Enter current password</label>
                    <input type="password" name="currentpass" class="form-control" placeholder="******" required>

                    <label for="newpass" class="form-label">New Password</label>
                    <input type="password" name="newpass" class="form-control" placeholder="******" required> <br>

                    <input type="submit" class="btn btn-primary" >
                </form>
            </div>
        
    </div>

    {% endif %}
{% endblock content %}    
